<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated concreta -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="diagConcreta.presentation.DiagConcretaModelWizardID"
            name="%_UI_DiagConcretaModelWizard_label"
            class="diagConcreta.presentation.DiagConcretaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DiagConcretaModelFile.gif">
         <description>%_UI_DiagConcretaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated concreta -->
      <editor
            id="diagConcreta.presentation.DiagConcretaEditorID"
            name="%_UI_DiagConcretaEditor_label"
            icon="icons/full/obj16/DiagConcretaModelFile.gif"
            extensions="diagconcreta"
            class="diagConcreta.presentation.DiagConcretaEditor"
            contributorClass="diagConcreta.presentation.DiagConcretaActionBarContributor">
      </editor>
   </extension>

</plugin>
